.card{
    padding: 1rem 2rem;
    border-radius: 2px;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 9px;
}
.normal{
    background:linear-gradient(45deg, #dedcdc, #fcbac5);
}

.grass{

}