/* .abcd span{
    background-color: yellow;
} */
/* span{
    background-color: purple;
} */

/* section span{
    background-color: blue;
} */

footer section span{
    background-color: red;
}
section span{
    background-color: blue;
}