/* div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    
}

section{
    display: flex;
    justify-content: space-around;
    border: 3px solid rgba(255,0,0,0.2);
    border-radius: 30px;
}
img{
    width: 32px;
}
div:hover{
    border-bottom: 2px solid green;
} */
#new-img{
    width: 300px;
    border-radius: 10px;
}
article{
    display: flex;
    flex-direction: column;
    width: 300px
}
#header-article{
    display: flex;
    justify-content: space-between;
}
#rating-block{
    display: flex;
    flex-direction: column;
}
